<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
<welcome-file-list>
<welcome-file>Login.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Servlet.Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>Servlet.Register</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Createticket</servlet-name>
<servlet-class>Servlet.Createticket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Createticket</servlet-name>
<url-pattern>/Createticket</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>home</servlet-name>
<servlet-class>Servlet.Home</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/Home</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Servlet.Logout</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>View</servlet-name>
<servlet-class>Servlet.ViewAllTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>View</servlet-name>
<url-pattern>/ViewTicket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Show</servlet-name>
<servlet-class>Servlet.ShowCreateList</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Show</servlet-name>
<url-pattern>/ShowCreateList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Edit</servlet-name>
<servlet-class>Servlet.EditJira</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Edit</servlet-name>
<url-pattern>/Edit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Update</servlet-name>
<servlet-class>Servlet.UpdateATicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Update</servlet-name>
<url-pattern>/UpdateATicket</url-pattern>
</servlet-mapping>

</web-app>